@import "tailwindcss";

h1 {
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: underline;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px auto;
    /* font-size: xx-large; */
}
.btn:hover{
    transition: all .5s;
    color: brown;
    
}